header {
<<<<<<< HEAD
    width: 100%;
    background-color: white;
    height: 70px;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.logo {
    width: 142px;
    height: 60px;
    background: url("../images/logo.png") no-repeat center;
    padding-left: 20px;
=======
	background-color: white;
	height: 70px;
	width: 100%;
	
	border-bottom: 1px solid #CCCCCC;
}

#header_logo {
	height: 100%;
	width: 142px;

	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: center;

	margin-left: 20px;
>>>>>>> 8dce1f35a43b2c2bb664ec01f78bfef42b605625
}
